In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit, expr, col

ssc = SparkSession \
        .builder \
        .master("local") \
        .appName("Reading DataFrame") \
        .getOrCreate() 
ssc

In [2]:
lines = ssc \
        .read\
        .option("header","true")\
        .option("inferSchema","true")\
        .option("delimiter",";")\
        .format("csv")\
        .load("../data/bank-additional-full.csv")

In [3]:
## Aula 02 - Manipulação no DataFrame
print(lines.printSchema())

#Adding a new columns
data_2 = lines.withColumn("A_New_Column", lit(1))
print(data_2.select("A_New_Column").show(10))


teste =  expr("age > 40")
data_3 = lines.select("age", "y").withColumn("teste",teste)
print(data_3.show(10))
print(data_3.selectExpr('age > 40').show(10))

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- emp.var.rate: double (nullable = true)
 |-- cons.price.idx: double (nullable = true)
 |-- cons.conf.idx: double (nullable = true)
 |-- euribor3m: double (nullable = true)
 |-- nr.employed: double (nullable = true)
 |-- y: string (nullable = true)

None
+------------+
|A_New_Column|
+------------+
|           1|
|           1|
|           1|
|           1|
|           1|
|           1|
|           1|
|           1|
|           1|
|           1|
+------------+
only showing top 10 rows

None
+---+---+-----+
|age|  y|teste|
+---+---+-----+
| 56| no| true|
| 57| no| true|
| 37| no|false|
| 40| no|false|
| 56| no| true|
| 45| no| true|
| 59| no| true|
| 41| no| true|
| 24| no|false|
| 25| no|false|
+---+---+-----+
only showing top 10 rows

None
+----------+
|(age > 40)|
+----------+
|      true|
|      true|
|     false|
|     false|
|      true|
|      true|
|      true|
|      true|
|     false|
|     false|
+----------+
only showing top 10 rows

None

In [24]:
## Aula 03 - Filtragem

print(lines.select("age","job").filter(col("age")>40).orderBy(col("age").desc()).show(2))
## Duas maneiras de fazer a mesma coisa
print(lines.select("age","job", "marital").filter(col("marital") == "married").orderBy(col("age").desc()).show(10))
print(lines.select("age","job", "marital").where(col("marital") == "married").orderBy(col("age").desc()).show(10))

## Distinct
print(lines.select("job").distinct().show())

## Filtros separados
filtro_idade = col("age")>10
filtro_civil = col("marital").contains("married")
print(lines \
        .select("age","job", "marital")\
        .where(col("job").isin("management","technician"))\
        .where(filtro_idade | filtro_civil)\
        .orderBy(col("age").desc())\
        .show())

+---+-------+
|age|    job|
+---+-------+
| 98|retired|
| 98|retired|
+---+-------+
only showing top 2 rows

None
+---+-------+-------+
|age|    job|marital|
+---+-------+-------+
| 98|retired|married|
| 98|retired|married|
| 94|retired|married|
| 92|retired|married|
| 92|retired|married|
| 92|retired|married|
| 91|retired|married|
| 91|retired|married|
| 88|retired|married|
| 88|retired|married|
+---+-------+-------+
only showing top 10 rows

None
+---+-------+-------+
|age|    job|marital|
+---+-------+-------+
| 98|retired|married|
| 98|retired|married|
| 94|retired|married|
| 92|retired|married|
| 92|retired|married|
| 92|retired|married|
| 91|retired|married|
| 91|retired|married|
| 88|retired|married|
| 88|retired|married|
+---+-------+-------+
only showing top 10 rows

None
+-------------+
|          job|
+-------------+
|   management|
|      retired|
|      unknown|
|self-employed|
|      student|
|  blue-collar|
| entrepreneur|
|       admin.|
|   technician|
|     services|
|    housemaid|
|   unemployed|
+-------------+

None
+---+----------+--------+
|age|       job| marital|
+---+----------+--------+
| 80|management|divorced|
| 77|management|  single|
| 77|management| married|
| 76|management| married|
| 76|management| married|
| 71|management| married|
| 70|technician| married|
| 69|technician| married|
| 69|technician| married|
| 68|management| married|
| 68|technician| married|
| 66|management|divorced|
| 66|management| married|
| 66|technician| married|
| 66|technician| married|
| 65|management| married|
| 65|management| married|
| 65|management| married|
| 65|technician| married|
| 65|management| married|
+---+----------+--------+
only showing top 20 rows

None